* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: rgb(94, 94, 94);
}

main {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
main .left,
main .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
  ::-webkit-scrollbar {
    display: none;
  }
}
main .left {
  background-color: black;
  position: relative;
  
}
main .left .code {
  height: 100%;

  border: 2px solid #ccc;
  border-radius: 0.4rem;
  /* background-color: aliceblue; */
  width: 100%;
  /* padding: 1rem; */
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  overflow-y: auto;
}
main .left .review {
  position: absolute;
  bottom: 1.5rem;
  right: 2.5rem;
  background-color: rgb(219, 219, 219);
  color: #000000;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
}

main .right {
  background-color: rgb(51, 51, 51);
  /* background-color: aqua; */
  padding: 2rem;
  overflow-y: auto;
  scrollbar-width: none; 
  scroll-behavior: smooth;
}
